.mainDiv {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #f0f0f0;
  padding: 20px;
}

/* logo */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  cursor: pointer;
}
.bagIcon {
  color: #ec437c;
  font-size: 38px;
  margin-right: 10px;
}
.logo > h1 {
  color: #ec437c;
  font-size: 35px;
  margin-top: 5px;
  font-weight: 600;
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subContainer {
  text-align: center;
  padding: 20px;
  width: 370px;
}
.subContainer > h1 {
  font-size: 30px;
  color: #ec437c;
  font-weight: 600;
  margin-bottom: 30px;
}
.subContainer > button {
  padding: 10px 22px;
  border: none;
  border: 2px solid #ec437c;
  color: #ec437c;
  background-color: white;
  font-size: 17px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}
.subContainer > button:hover {
  transition: all 0.3s;
  background-color: #ec437c;
  color: white;
}
.subContainer > p {
  margin: 30px 0;
  font-weight: 500;
  position: relative;
}
.subContainer > p::before {
  content: "";
  position: absolute;
  background-color: grey;
  height: 1px;
  width: 70px;
  left: 0%;
  top: 50%;
}
.subContainer > p::after {
  content: "";
  position: absolute;
  background-color: grey;
  height: 1px;
  width: 70px;
  right: 0%;
  top: 50%;
}
.credentialField {
  width: 270px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
  font-weight: 500;
}
.credentialField::placeholder {
  color: black;
}
.credentialField:focus {
  border-bottom: 2px solid black;
  outline: none;
}
.subContainer > form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  position: relative;
}
.subContainer > form > div > input {
  border: none;
  border-bottom: 1px solid black;
}
.subContainer > form > div > span {
  cursor: pointer;
  position: absolute;
  right: 12%;
}
.btn {
  margin: 20px 0;
  padding: 10px 22px;
  border: none;
  color: #ec437c;
  background-color: white;
  font-size: 17px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #ec437c;
}
.btn:hover {
  transition: all 0.3s;
  background-color: #ec437c;
  color: white;
}
.linkDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.link {
  font-size: 14px;
  text-decoration: none;
  margin-left: 5px;
  color: #ec437c;
  font-weight: 500;
  letter-spacing: -0.5px;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
